.users_list {
    max-width: 315px;
}

.users_list_body {
    list-style: none;
    height: 240px;
    padding: 5px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid brown;
    overflow: auto;
}

.users_list_body .item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
    /*background-color: rgb(249, 249, 255);*/
    background-color: var(--accent-bg-color);
    background-image: linear-gradient(
            90deg,
            rgba(247, 247, 247, 0.58) 0%,
            rgba(254, 254, 254, 0) 100%
    );
}

[data-theme^='dark'] .users_list_body .item {
    color: #141329;
}

.buttons_container {
    display: flex;
    gap: 10px;
}

.control_button {
    flex: 1 0 auto;
}

.control_button.active {
    background-color: #7b1d1d;
}