.superCheckbox {
    cursor: pointer;
}

.superCheckbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.span::before {
    content: "";
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid var(--secondary-border-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    transition: outline-width 0.1s ease;
}

.superCheckbox > input:checked + span::before {
    border-color: var(--secondary-bg-color);
    background-color: var(--secondary-bg-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.span:hover::before,
.superCheckbox > input:focus-visible + .span::before {
    outline: 3px solid #add4fec9;
}