.label {
    position: relative;
    margin-bottom: 35px;
    font-size: 1.1em;
    height: 50px;
}

.label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #7d6ffb;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
}

.label:focus-within::before {
    transform: scaleX(1);
}

.label.errorInput::before {
    transform: scaleX(1);
    background-color: red;
}

.input {
    padding: 8px 15px;
    height: 100%;
    font-family: inherit;
    font-size: 1.1em;
    border: none;
    background-color: #f4f7fb;
}

.input::placeholder {
    font-style: italic;
}

.error {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px;
    width: 400px;
    color: red;
}