.affairs_list {
    max-width: 400px;
}

.affairs_body {
    height: 340px;
    margin-bottom: 10px;
    overflow: auto;
    font-size: 1.2em;
}

.affair {
    position: relative;
    min-height: 30px;
    padding: 5px 60px 5px 15px;
    margin-bottom: 5px;
    background-color: #efefef;
}

.affair::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
}

.affair.high::before {
    background-color: #ef8694;
}

.affair.middle::before {
    background-color: #f3d65e;
}

.affair.low::before {
    background-color: #7db87d;
}


.affair_text {
    overflow: hidden;
    white-space: nowrap;
}

.affair_text::first-letter {
    text-transform: capitalize;
}

.affair .priority {
    color: #444470;
    font-size: small;
    font-style: italic;
}

/*button rule sets*/

.button {
    background-color: #8bc34a;
}

.delete_button {
    position: absolute;
    top: 50%;
    right: 15px;
    padding: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    line-height: 20px;
}

.control_buttons_container {
    display: flex;
    gap: 7px;
}

.control_button {
    flex: 1 1 25%;
}

.button.active {
    outline: 3px solid #407224;
    text-decoration: underline;
    transition: border 0s;
}

/*This rule is necessary to rewrite default SuperButton hover behavior*/
.button:hover {
    background-color: #8bc34a;
}

.button:not(.active):hover {
    background-color: #699932;
}



