.blue {
    background-color: #c3edfe;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.testSpanError {
    text-decoration: underline;
}

.offContainerStyle {
    display: contents;
}