.input_container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.input_container > * {
    height: 50px;
}

.users_count {
    font-weight: bold;
    color: #7d2525;
    font-size: 2em;
}

[data-theme^='dark'] .users_count {
    color: #bc845b;
}

.users_list_body {
    list-style: inside upper-roman;
}

.users_list_body ::marker {
    color: #a91515;
}

.users_list_body li::first-letter {
    text-transform: capitalize;
}